<?=vendor\tpl::include_tpl("public_header.html",true)?>
<div id="content">
    <div class="content-header">
      <?=common\helpers\html_base::$instance->menu_navigation(["system_set"],true)?>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="widget-box">
                <div class="widget-content p-b-none">
                    <form class="form-inline"  method="post">
                        <div class="form-group">
                            <!--<label>关键字</label>-->
                            <input type='text' name='keyword' value="<?=vendor\req::$instance->item('keyword')?>" class='form-control' value="" placeholder="<?=common\model\mod_language::$instance->get_system_language(_CODE_INPUT_KEYWROD_)?>" />
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-white">
                                 <?=common\model\mod_language::$instance->get_system_language(_CODE_SEARCH_)?>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="widget-content">
                    <table class="table table-bordered table-hover table-agl-c">
                    <thead>
                        <tr>
                            <th v-for="(value,key) in header">
                                {{value}}
                            </th>
                            <th>管理</th>
                        </tr>
                    </thead>
                    <tbody>
                         <tr v-for="(item,key) in list">
                            <td>{{key+1}}</td>
                            <td>{{item.table_name}}</td>
                            <td>{{item.table_schema}}</td>
                            <td>{{item.table_rows}}</td>
                            <td>{{item.data_length}}</td>
                            <td>{{item.table_comment}}</td>
                            <td>

                                <?=common\helpers\html_base::$instance->create_link1("features-table_descs",["table_name"=>"item"])?>
                               
                             
                            </td>
                         </tr>
                         <tr>
                            <td colspan="10">
                                 <?=common\helpers\html_base::$instance->create_pages("pages")?>
                            </td>
                         </tr>
                    </tbody>
                    </table>

                    
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
new Vue({
    el: "#content",
    data: {
        header:["id","name","db_name",'table_rows','data_length','table_comment'],
        list:<?=vendor\tpl::get_assign_json("table_list")?>,
    },
    methods:{
    }
})
</script>
<?=vendor\tpl::include_tpl("public_bottom.html",true)?>












