<?=vendor\tpl::include_tpl("public_header.html",true,['select2_css'])?>
<div id="content">
    <div class="content-header">
         <?=common\helpers\html_base::$instance->menu_navigation(["organization","organization-job_level_index"],true)?>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="widget-box" id="widget_box">
                <form class="form-horizontal Validform" novalidate="novalidate" action="" method="POST">
                    <div class="widget-title">
                        <h5>基本信息</h5>
                    </div>
                    <div class="widget-content">
                        <div class="form-group">
                              <label class="col-sm-2 control-label"><code class="">*</code>{{table_language['name'].language}} :</label>
                            <div class="col-sm-4">
                              <input name="name" :value="info.name" type="text" class="form-control" :placeholder="table_language['name'].placeholder" nullmsg="" />
                            </div>
                            <label class="col-sm-2 control-label"> {{table_language['level'].language}}  :</label>
                            <div class="col-sm-4">
                                <input name="level" :value="info.level" type="text" class="form-control" :placeholder="table_language['level'].placeholder"  />
                            </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-2 control-label"> {{table_language['number'].language}} :</label>
                            <div class="col-sm-4">
                                <input name="number" :value="info.number" type="text" class="form-control" :placeholder="table_language['number'].placeholder"  />
                            </div>
                            <label class="col-sm-2 control-label">  {{table_language['code'].language}} :</label>
                            <div class="col-sm-4">
                                <input name="code" :value="info.code" type="text" class="form-control" :placeholder="table_language['code'].placeholder" nullmsg="" />
                            </div>
                        </div>
                        
                    

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button type="submit" class="btn btn-success">提交</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    new Vue({
      el: '#content',
      data: {
        info:<?=vendor\tpl::get_assign_json("info")?>,
         table_language: <?=vendor\tpl::get_assign_json("table_language")?>,
       
      },
      computed:{
        
      }
    })
</script>
<?=vendor\tpl::include_tpl("public_bottom.html",true,['select2_js'])?>






