<?=vendor\tpl::include_tpl("public_header.html",true)?>
<div id="content">
    <div class="content-header">
      <?=common\helpers\html_base::$instance->menu_navigation(["organization","organization-mechanism_index"])?>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="widget-box">
                <div class="widget-content p-b-none">
                    <div class="btn-outline-wrap">
                         <?=common\helpers\html_base::$instance->create_link1("organization-add_mechanism")?>
                    </div>
                </div>
                <div class="widget-content p-b-none">
                     <form class="form-inline" method="post">
                        <div class="form-group">
                            <!--<label>关键字</label>-->
                            <input type='text' name='keyword' value="<?=vendor\req::$instance->item('keyword')?>" class='form-control' value="" placeholder="<?=common\model\mod_language::$instance->get_system_language(_CODE_INPUT_KEYWROD_)?>" />
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-white">
                                <?=common\model\mod_language::$instance->get_system_language(_CODE_SEARCH_)?>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="widget-content">
                    <table class="table table-bordered table-hover table-agl-c">
                    <thead>
                        <tr>
                            <th><?=common\model\mod_language::$instance->get_system_language(_CODE_INDEX_)?></th>
                            <th v-for="(value,key) in show_header">
                                {{value.language}}
                            </th>
                           <th><?=common\model\mod_language::$instance->get_system_language(_CODE_MGT_)?></th>
                        </tr>
                    </thead>
                    <tbody>
                         <tr v-for="(item,key) in list">
                            <td>{{key+1}}</td>
                                <template v-for="(header,key) in show_header">
                                    <td v-if="!related_data[key]">{{item[key]}}</td>
                                    <td v-else>
                                        {{related_data[key][item[key]].crucial_val}}
                                    </td>
                                </template>
                            <td>
                                 <?=common\helpers\html_base::$instance->create_link1("organization-structure_diagram_info",["id"=>"item"])?>
                                <?=common\helpers\html_base::$instance->create_link1("organization-edit_mechanism",["id"=>"item"],'btn-primary')?>
                                <?=common\helpers\html_base::$instance->create_link1("organization-del_mechanism",["id"=>"item"],'btn-danger')?>
                            </td>
                         </tr>
                         <tr>
                            <td colspan="20">
                                 <?=common\helpers\html_base::$instance->create_pages("pages")?>
                            </td>
                         </tr>
                    </tbody>
                </table>
                   
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
new Vue({
    el: "#content",
    data:<?=vendor\tpl::get_assign_json("table_data")?>,
    methods:{
    }
})
</script>

<?=vendor\tpl::include_tpl("public_bottom.html",true)?>












