<?=vendor\tpl::include_tpl("public_header.html",true,['select2_css','datetimepicker_css'])?>
<div id="content">
    <div class="content-header">
        <?=common\helpers\html_base::$instance->menu_navigation(["personnel","personnel-turn_right_index"],true)?>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="widget-box" id="widget_box">
                <form class="form-horizontal Validform" novalidate="novalidate" action="" method="POST">
                    <div class="widget-title">
                        <span class="icon"> <i class="fa fa-align-justify"></i> </span>
                        <h5>
                            <?=common\model\mod_language::$instance->get_system_language(_CODE_BASE_INFO_)?>
                        </h5>
                    </div>
                    <div class="widget-content">
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><code class="">*</code>{{table_language['archives_id'].language}} :</label>
                            <div class="col-sm-4">
                          
                                 <p class="form-control-static">{{info.archives_id}}</p>
                            </div>
                            <label class="col-sm-2 control-label"><code class="">*</code>{{table_language['org_mechanism_id'].language}} :</label>
                            <div class="col-sm-4">
                                <p class="form-control-static">{{info.org_mechanism_id}}</p>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><code class="">*</code>{{table_language['org_jobs_id'].language}} :</label>
                            <div class="col-sm-4">
                                <p class="form-control-static">{{info.org_jobs_id}}</p>
                            </div>
                            <label class="col-sm-2 control-label"><code class="">*</code>{{table_language['entry_date'].language}} :</label>
                            <div class="col-sm-4">
                                <p class="form-control-static">{{info.entry_date}}</p>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><code class="">*</code>{{table_language['trial_expired_end'].language}} :</label>
                            <div class="col-sm-4">
                                <p class="form-control-static">{{info.trial_expired_end}}</p>
                            </div>
                            <label class="col-sm-2 control-label"><code class="">*</code>{{table_language['date'].language}} :</label>
                            <div class="col-sm-4">
                                <p class="form-control-static">{{info.date}}</p>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{table_language['remark'].language}} :</label>
                            <div class="col-sm-10" style="margin-top: 7px">
                                <span>{{info.remark}}</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
new Vue({
    el: '#content',
    data: {
        info: <?=vendor\tpl::get_assign_json("info")?>,
        table_language: <?=vendor\tpl::get_assign_json("table_language")?>,
        table_enum: <?=vendor\tpl::get_assign_json("table_enum")?>,
        personnel_archives: <?=vendor\tpl::get_assign_json("personnel_archives")?>,

    },
    computed: {

    }
})
</script>
<script type="text/javascript" src="static/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="static/frame/js/webuploader.own.js"></script>
<?=vendor\tpl::include_tpl("public_bottom.html",true,['select2_js','datetimepicker_js'])?>