<?=vendor\tpl::include_tpl("public_header.html",true,['select2_css','datetimepicker_css'])?>
<div id="content">
    <div class="content-header">
        <?=common\helpers\html_base::$instance->menu_navigation(["personnel","personnel-interview_index"],true)?>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="widget-box" id="widget_box">
                <form class="form-horizontal Validform" novalidate="novalidate" action="" method="POST">
                    <div class="widget-title">
                        <span class="icon"> <i class="fa fa-align-justify"></i> </span>
                        <h5>
                            <?=common\model\mod_language::$instance->get_system_language(_CODE_BASE_INFO_)?>
                        </h5>
                    </div>
                    <div class="widget-content">
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><code class="">*</code>{{table_language['name'].language}} :</label>
                            <div class="col-sm-4">
                                <input name="name" :value="info.name" type="text" class="form-control" :placeholder="table_language['name'].placeholder" nullmsg="" />
                            </div>
                            <label class="col-sm-2 control-label"><code class="">*</code>{{table_language['personnel_archives_id'].language}} :</label>
                            <div class="col-sm-4">
                                <select class="form-control" datatype="*" :data-placeholder="table_language['personnel_archives_id'].placeholder" data-plugin="select2" name="personnel_archives_id">
                                    <option value=" ">{{table_language['personnel_archives_id'].placeholder}}</option>
                                    <template v-for="(item,key) in personnel_archives">
                                        <option v-if="item.id==info.personnel_archives_id" selected :value="item.id">{{item.name}}</option>
                                        <option v-else :value="item.id">{{item.name}}</option>
                                    </template>
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><code class="">*</code>{{table_language['org_mechanism_id'].language}} :</label>
                            <div class="col-sm-4">
                                <select class="form-control" data-ajax="<?=vendor\req::$instance->get_url()?>" data-change="org_jobs_id" datatype="*" :data-placeholder="table_language['org_jobs_id'].placeholder" name="org_mechanism_id">
                                    <option value=" ">{{table_language['org_mechanism_id'].placeholder}}</option>
                                    <template v-for="(item,key) in mechanism">
                                        <option v-if="item.id==info.org_mechanism_id" selected :value="item.id">{{item.name}}</option>
                                        <option v-else :value="item.id">{{item.name}}</option>
                                    </template>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label"><code class="">*</code>{{table_language['org_jobs_id'].language}} :</label>
                            <div class="col-sm-4">
                                <select class="form-control" datatype="*" :data-placeholder="table_language['org_jobs_id'].placeholder" data-plugin="select2" name="org_jobs_id">
                                    <option value=" ">{{table_language['org_jobs_id'].placeholder}}</option>
                                    <template v-for="(item,key) in jobs_list">
                                        <option v-if="item.id==info.org_jobs_id" selected :value="item.id">{{item.name}}</option>
                                        <option v-else :value="item.id">{{item.name}}</option>
                                    </template>
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{table_language['resume'].language}} :</label>
                            <div class="col-sm-10">
                                <textarea name="resume" class="form-control">{{info.resume}}</textarea>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><code class="">*</code>{{table_language['applicant'].language}} :</label>
                            <div class="col-sm-4">
                                <select class="form-control" datatype="*" :data-placeholder="table_language['applicant'].placeholder" data-plugin="select2" name="applicant">
                                    <option value=" ">{{table_language['org_mechanism_id'].placeholder}}</option>
                                    <template v-for="(item,key) in personnel_archives">
                                        <option v-if="item.id==info.applicant" selected :value="item.id">{{item.name}}</option>
                                        <option v-else :value="item.id">{{item.name}}</option>
                                    </template>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label"><code class="">*</code>{{table_language['applicant_mechaninsm'].language}} :</label>
                            <div class="col-sm-4">
                                <select class="form-control" datatype="*" :data-placeholder="table_language['applicant_mechaninsm'].placeholder" data-plugin="select2" name="applicant_mechaninsm">
                                    <option value=" ">{{table_language['org_mechanism_id'].placeholder}}</option>
                                    <template v-for="(item,key) in mechanism">
                                        <option v-if="item.id==info.applicant_mechaninsm" selected :value="item.id">{{item.name}}</option>
                                        <option v-else :value="item.id">{{item.name}}</option>
                                    </template>
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-success">
                                    <?=common\model\mod_language::$instance->get_system_language(_CODE_SUBMIT_)?>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
new Vue({
    el: '#content',
    data: {
        info: <?=vendor\tpl::get_assign_json("info")?>,
        table_language: <?=vendor\tpl::get_assign_json("table_language")?>,
        table_enum: <?=vendor\tpl::get_assign_json("table_enum")?>,
        mechanism: <?=vendor\tpl::get_assign_json("mechanism")?>,
        personnel_archives: <?=vendor\tpl::get_assign_json("personnel_archives")?>,
        jobs_list: <?=vendor\tpl::get_assign_json("jobs_list")?>,
    },
    computed: {

    }
})
</script>
<script type="text/javascript" src="static/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="static/frame/js/webuploader.own.js"></script>
<?=vendor\tpl::include_tpl("public_bottom.html",true,['select2_js','datetimepicker_js'])?>