<?=vendor\tpl::include_tpl("public_header.html",true,['select2_css','datetimepicker_css'])?>
<div id="content">
    <div class="content-header">
        <?=common\helpers\html_base::$instance->menu_navigation(["work_report","personnel-work_report_index"],true)?>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="widget-box" id="widget_box">
                <form class="form-horizontal Validform" novalidate="novalidate" action="" method="POST">
                    <div class="widget-title">
                        <span class="icon"> <i class="fa fa-align-justify"></i> </span>
                        <h5>
                            <?=common\model\mod_language::$instance->get_system_language(_CODE_BASE_INFO_)?>
                        </h5>
                    </div>
                    <div class="widget-content">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{table_language['type'].language}} :</label>
                            <div class="col-sm-4">
                                <p class="form-control-static">{{info.type}}</p>
                            </div>
                            <label class="col-sm-2 control-label">{{table_language['send_leaders'].language}} :</label>
                            <div class="col-sm-4">
                                <p class="form-control-static">{{info.send_leaders}}</p>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{table_language.date_start.language}} :</label>
                            <div class="col-sm-4">
                                <p class="form-control-static">{{info.date_start|dateFormat('Y-M-D')}}</p>
                            </div>
                            <label class="col-sm-2 control-label">{{table_language.date_end.language}} :</label>
                            <div class="col-sm-4">
                                <p class="form-control-static">{{info.date_end|dateFormat('Y-M-D')}}</p>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{table_language.status.language}} :</label>
                            <div class="col-sm-4">
                                <p class="form-control-static">{{info.status}}</p>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{table_language['contents'].language}} :</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{info.contents}}</p>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{table_language['tomorrow_plan'].language}} :</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{info.tomorrow_plan}}</p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
new Vue({
    el: '#content',
    data: {
        info: <?=vendor\tpl::get_assign_json("info")?>,
        table_language: <?=vendor\tpl::get_assign_json("table_language")?>,
        table_enum: <?=vendor\tpl::get_assign_json("table_enum")?>,


    },
    computed: {

    }
})
</script>
<script type="text/javascript" src="static/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="static/frame/js/webuploader.own.js"></script>
<?=vendor\tpl::include_tpl("public_bottom.html",true,['select2_js','datetimepicker_js'])?>