<?=vendor\tpl::include_tpl("public_header.html",true,['select2_css','datetimepicker_css'])?>
<div id="content">
    <div class="content-header">
        <?=common\helpers\html_base::$instance->menu_navigation(["personnel","personnel-assessment_index"],true)?>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="widget-box" id="widget_box">
                <form class="form-horizontal Validform" novalidate="novalidate" action="" method="POST">
                    <div class="widget-title">
                        <span class="icon"> <i class="fa fa-align-justify"></i> </span>
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#base_info" data-toggle="tab">
                                    <?=common\model\mod_language::$instance->get_system_language(_CODE_BASE_INFO_)?></a>
                            </li>
                            <li>
                                <a href="#project_description" data-toggle="tab">
                                    {{table_language['project_description'].language}}
                                </a>
                            </li>
                            <li>
                                <a href="#rating_content" data-toggle="tab">
                                    {{table_language['rating_content'].language}}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="widget-content tab-content">
                        <div id="base_info" class="tab-pane fade in active">
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><code class="">*</code>{{table_language['name'].language}} :</label>
                                <div class="col-sm-4">
                                    <p class="form-control-static">{{info.name}}</p>
                                </div>
                                <label class="col-sm-2 control-label"><code class="">*</code>{{table_language['start_date'].language}} :</label>
                                <div class="col-sm-4">
                                    <p class="form-control-static">
                                        {{info.start_date|dateFormat('Y-M-D')}}
                                        TO
                                        {{info.end_date|dateFormat('Y-M-D')}}
                                    </p>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><code class="">*</code>{{table_language['archives_ids'].language}} :</label>
                                <div class="col-sm-10">
                                    <p class="form-control-static">{{personnel_archives[info.archives_ids].name}}</p>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><code class="">*</code>{{table_language['frequency'].language}} :</label>
                                <div class="col-sm-4">
                                    <p class="form-control-static"> {{table_enum.frequency[info.frequency]}}</p>
                                </div>
                                <label class="col-sm-2 control-label"><code class="">*</code>{{table_language['build_time'].language}} :</label>
                                <div class="col-sm-4">
                                    <p class="form-control-static"> {{info.build_time|dateFormat('Y-M-D')}}</p>
                                </div>
                            </div>
                        </div>
                        <div id="project_description" class="tab-pane fade">
                            <div class="form-group">
                                <label class="col-sm-1 control-label"><code class="">*</code>{{table_language['status'].language}} :</label>
                                <div class="col-sm-3">
                                    <p class="form-control-static"> {{table_enum.status[info.status]}}</p>
                                </div>
                                <label class="col-sm-1 control-label"><code class="">*</code>{{table_language['highest_score'].language}} :</label>
                                <div class="col-sm-3">
                                    <p class="form-control-static"> {{info.highest_score}}</p>
                                </div>
                                <label class="col-sm-1 control-label"><code class="">*</code>{{table_language['passing_score'].language}} :</label>
                                <div class="col-sm-3">
                                    <p class="form-control-static"> {{info.passing_score}}</p>
                                </div>
                            </div>
                            <table class="table table-bordered table-hover table-agl-c">
                                <thead>
                                    <tr>
                                        <th>{{table_language.project_description.language}}</th>
                                        <th style="width: 20%">{{table_language.proportion.language}}</th>
                                    </tr>
                                </thead>
                                <tbody id="project_description_tbody">
                                    <template v-if="info.project_description">
                                        <template v-for="(item,key) in info.project_description.connect">
                                            <tr v-if="item">
                                                <td style="text-align: left;">
                                                    {{item}}
                                                <td>
                                                    {{info.project_description.proportion[key]}}
                                                </td>
                                            </tr>
                                        </template>
                                    </template>
                                </tbody>
                            </table>
                        </div>
                        <div id="rating_content" class="tab-pane fade">
                            <table class="table table-bordered table-hover table-agl-c">
                                <thead>
                                    <tr>
                                        <th>{{table_language.rating_content.language}}</th>
                                        <th>{{table_language.rating_type.language}}</th>
                                        <th>{{table_language.rating_archives.language}}</th>
                                        <th style="width: 10%">{{table_language.weights.language}}</th>
                                    </tr>
                                </thead>
                                <tbody id="rating_content_tbody">
                                    <template v-if="info.rating_content">
                                        <template v-for="(item,key) in info.rating_content.name">
                                            <tr v-if="item">
                                                <td>{{item}}
                                                <td>{{table_enum.rating_type[info.rating_content.rating_type[key]]}}
                                                </td>
                                                <td>
                                                    {{personnel_archives[info.rating_content.rating_archives[key]].name}}
                                                </td>
                                                <td>
                                                    {{info.rating_content.weights[key]}}
                                                </td>
                                            </tr>
                                        </template>
                                    </template>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
new Vue({
    el: '#content',
    data: {
        info: <?=vendor\tpl::get_assign_json("info")?>,
        table_language: <?=vendor\tpl::get_assign_json("table_language")?>,
        table_enum: <?=vendor\tpl::get_assign_json("table_enum")?>,
        personnel_archives: <?=vendor\tpl::get_assign_json("personnel_archives")?>,

    },
    methods: {
       
    },
    mounted: function() {}
})
</script>
<script type="text/javascript" src="static/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="static/frame/js/webuploader.own.js"></script>
<?=vendor\tpl::include_tpl("public_bottom.html",true,['select2_js','datetimepicker_js'])?>