code{
	background: #fff;
}
.Validform_wrong
{
	color: red;
    padding-left: 20px;
    white-space: nowrap;
    background: url(../../public/img/error.png) no-repeat left center;
}
.textarea{
	resize: none;
}
.Validform_right{
	display: none;
}